@model UserCollection

@{
    ViewData["Title"] = "Manage User Permissions";
}

@if(this.Model == null || this.Model.Empty)
{
    <div>Es existieren leider keine Nutzer!</div>
}
else
{
    <form asp-controller="User">
        
    for(int i = 0; i < this.Model.Count; i++)
    {
    }

    </form>
}