@model NotImplementedModel
@{
    ViewData["Title"] = "Not Implemented";
}

<div>Die Seite oder Funktion ist noch nicht implementiert!</div>
<table>
    <tr>
        <td>Titel</td>
        <td>@this.Model.Title</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@this.Model.Description</td>
    </tr>
</table>