@Model User
@{
    ViewData["Title"] = "Account Management";
}

<h2>Account</h2>
<div>
    <h2>Aktionen</h2>
    <ul>
        <li><a>News anlegen</a></li>
        <li><a>Event anlegen</a></li>
        <li><a>Profil bearbeiten</a></li>
    </ul>
</div>