@{
    ViewData["Title"] = "Login";
}

<form action="POST">
    <input type="text" asp-for="E-Mail">
    <label asp-for="E-Mail">E-Mail</label>
    <input type="password" asp-for="Password">
    <label asp-for="Password">Passwort</label>
</form>

